.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-self: flex-end;
  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 10px;
}
.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #94a3b8;
}
.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 0px;
}
.footer-icon {
  height: 50px;
  width: 50px;
  color: #ffffff;
}

@media (max-width: 576px) {
  .footer-container {
    width: 85vw;
    margin-bottom: 20px;
  }
  .footer-text {
    font-size: 16px;
    line-height: 20px;
  }
  .footer-icon {
    width: 31px;
    height: 34px;
  }
}
